.avatar-show-img {
    width: 128px;
    height: 128px;
}

.well.profile-block {
    colour: #fff;
    h3 {
        margin-top: 0;
    }
}

.well.profile-description {
    background-colour: #5cb85c;
    border-colour: #4cae4c;
}

.well.profile-contact-info {
    background-colour: #5bc0de;
    border-colour: #46b8da;
}